@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: right;
}

header .logo{
    color: aliceblue;
    text-transform: uppercase;
    cursor: pointer;
}

.showcase.active{
    right: 300px;
}

.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
    background: rgb(54, 121, 221);
}

.text{
    position: relative;
    z-index: 10;
    padding-top: 20px;
}

.text h2{
    font-size: 5em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

.text a{
    display: inline-block;
    background: #fff;
    padding: 5px 20px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1em;
}

.text p{
    color: #fff;
    font-size: 1em;
    margin-top: 20px;
    font-weight: 400;
}

.text h3{    
    font-size: 2em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}


/*navigation*/
nav{
    position: static;
    font-size: 28px;
    cursor: pointer;
    color: #fff;
    margin: 0px;
    padding: 0px;
    z-index: 5;
    text-transform: uppercase;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

nav ul li{
    margin: 0 20px;
}

nav ul li a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover{
    background-color: #181717;
    color: #f3e3e3;
}


/*footer*/
.social{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    background: #111;
    color: #fff;
    text-align: center;
    z-index: 10;
    display: flex;
}

.social li{
    list-style: none;

}

.social li a{
    color: #fff;
    font-size: 24px;
    transition: color 0.3s;
    display: inline-block;
    z-index: 12;
    transform: scale(0.5);
    margin-right: 20px;
}


